.svn
avr_tools.zip           
./build/windows/avr_tools.zip
jre.tgz                 
./build/linux/jre.tgz
jre.zip                 
./build/windows/jre.zip
reference.zip           
./build/shared/reference.zip
template.dmg.gz         
./build/macosx/template.dmg.gz
tools-universal.zip     
./build/macosx/dist/tools-universal.zip
*.class
build/linux/arm-2009q3-68-arm-none-eabi-toolchain-linux32.tar.gz
build/linux/dist/tools/arm/
build/linux/maple-ide-*
build/linux/work/
build/macosx/arm-2010q1-188-arm-none-eabi-toolchain-macosx32.tar.gz
build/macosx/dist/tools/arm/
build/macosx/work/
build/windows/dist/java/
build/windows/dist/tools/arm/
build/windows/sun-java6-jre-win32.tar.gz
*~
*.pyc
